.c-modal-user-albums {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
}

.c-modal-user-albums .wrapper {
  background-color: #000;
  opacity: .9;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

@media(min-width: 1000px) {
  .c-modal-user-albums .content-window {
    width: 700px;
  }
}

@media(max-width: 999px) {
  .c-modal-user-albums .content-window {
    width: 90%;
  }
}

.c-modal-user-albums .content-window {
  max-width: 90%;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
  opacity: .99;
  z-index: 2020;
  box-shadow: 0 0 2px #ffffff;
  overflow: auto;
  max-height: 95%;
  margin-top: 50px;
  background: #ffffff;
  border-radius: 5px;

}

.c-modal-user-albums .content-window .header-window {
  background: #e5e5e5;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

.c-modal-user-albums .content-window .header-window i {
  color: #ffffff;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 14px;
  font-size: 17px;
}

.c-modal-user-albums .content-window .content-filter {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.c-modal-user-albums .content-window .content-filter .container-input {
  width: 200px;
  height: 40px;
  position: relative;
}

.c-modal-user-albums .content-window .content-filter .container-input .filter-name {
  width: 200px;
  height: 40px;
  border: 1px solid rgba(255,255,255,0.10);
  background: rgba(0,0,0,0.10);
  box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.20);
  border-radius: 5px;
  font-size: 14px;
  color: #000000;
  outline: none;
  padding-left: 35px;
}

.c-modal-user-albums .content-window .content-filter .container-input i {
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 22px;
}

.c-modal-user-albums .content-window .content-table {
  width: 100%;
  padding: 20px;
  overflow-x: auto;
}

.c-modal-user-albums .content-window .content-table .table-albums-user {
  width: 100%;
  min-width: 250px;
  background: #333333;
  border: 1px solid #484848;
  border-radius: 10px;
  color: #ffffff;
}

.c-modal-user-albums .content-window .content-table .table-albums-user  tr {
  height: 60px;
}

.c-modal-user-albums .content-window .content-table .table-albums-user  tr:nth-child(2n) {
  background: #393939;
}

.c-modal-user-albums .content-window .content-table .table-albums-user  tr th {
  border: 1px solid #484848;
}

.c-modal-user-albums .content-window .content-table .table-albums-user  tr:first-child th:first-child {
  border-top-left-radius: 10px;
}

.c-modal-user-albums .content-window .content-table .table-albums-user  tr:first-child th:last-child {
  border-top-right-radius: 10px;
}

.c-modal-user-albums .content-window .content-table .table-albums-user  tr:last-child th:first-child {
  border-bottom-left-radius: 10px;
}

.c-modal-user-albums .content-window .content-table .table-albums-user  tr:last-child th:last-child {
  border-bottom-right-radius: 10px;
}

.c-modal-user-albums .content-window .content-table .table-albums-user  tr .column-id {
  width: 15%;
}

.c-modal-user-albums .content-window .content-table .table-albums-user  tr .column-title {
  width: 85%;
}

.c-modal-user-albums .content-window .content-table .table-albums-user  tr td {
  text-align: center;
  border: 1px solid #484848;
}

.c-modal-user-albums .content-window .content-table .table-albums-user  tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

.c-modal-user-albums .content-window .content-table .table-albums-user  tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

